@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0; 
    width: 100%;
    padding: 0;
}

html { 
    font-size: 62.5% ; 
} 

body {
    overflow-x: hidden;
}

body { 
    color: #fdb992;
    background-color: #ffffff; 
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400; font-style: normal;
}

header {
    font-family: "Poppins", sans-serif;
    font-weight: 500; font-style: normal;
    background-color: #f0bc9e;
    padding-left: 1.5rem;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.6rem;
}

h1 {
    color:#ffffff;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 7.0rem; 
    text-align: center;
}

h1:not(.fondotext1) {
    padding-top: 1.5rem;
}

.h1p{
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;  
    font-size: 4.0rem;
    font-style: normal;
    text-align: center;
}

.h2p{padding-bottom: 2.5rem;
}


h4 {
    font-size: 1rem ;
display: flex;
}

h3 {
    color:#e7b75f;
    font-family: "Poppins", sans-serif;
    font-weight: 300; 
    font-size: 3rem;
    font-style: normal;
    text-align: center;
}

footer{
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
}


section p {
    color: #ffffff;
}

input, textarea {
    display: block; margin-bottom: 0.5rem; 
} 

textarea {
    height: 5rem; 
}

ul li{
    list-style-type: none;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 1.5rem;
}

ul li a{
    color: #59201B;
}

svg { 
    width: 3.5rem;
    height: 3.5rem;
}  

a {
    display: inline;
    flex-direction: row;
    justify-content:baseline;
    align-items: center;
    text-decoration: none;
    color:#fca16d;
}  

.svgig{
    color: #F2167D;
    height: 5rem;
    width: 5rem;
    margin-left: 1.5rem;
}

.svgfb {
    color: #15409c;
height: 5rem;
width: 5rem;
margin-left: 1.5rem;

}

.btn-submit {
    background-color: #d8b54d;
    border-radius: 10%;
    width: 10rem;
    height: 5rem;

}

.maps {     
    background-color:rgba(5, 7, 12, 0.75) ;
    display: inline-block;
    width: 20rem;
    height: 20rem; 
    }

.mapas {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;


}

.mapacontacto { 
    width: 60rem; 
    height: 30rem;
    border: solid black 1px;
    margin-top: 5rem;
    display: flex ;
    margin-bottom: 5rem;
    margin-left: 7rem;
}

form{
    padding-top: 5rem;
    padding-right: 20rem;
    margin-left: 5rem;
}

.mapainicio {
    display: inline-block;
    width: 25rem;
    height: 20rem; 
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
    margin-left: 1rem;

}


.btn-ws {
    background-color: #21BF48;
    border-radius: 70%;
    width: 5.7rem;
    height: 5.7rem;
    padding: 1rem;
    position: fixed;
    right: 3rem ;
    bottom: 10rem;
    text-align: center; 
    color:#fff;
}


.btn-ws:hover {
    color:#21BF48;
    background:#fff 
}


.logo {
    width: 5rem;
    height: 5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#fondo1 {
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(../assets/fondo1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 35rem;
    background-attachment: fixed;
    background-size: cover;
    
}


.fondotext1{
    padding-top: 1.5rem;
}
.fondotext2{
    padding-top: 1.5rem;
}
.fondotext3{
    padding-top: 2.5rem;
}


.fondo2 {
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(../assets/fondo2.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    background-attachment: fixed;
    background-size: cover;
}

#nosotros {
    background-color:rgba(5, 7, 12, 0.75) ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.text2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
}


#nosotros .img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    width: 30%;

}

#nosotros div img {
    width: 70%;
    
}

#nosotros .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.text{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2.5rem;
    font-style: normal;
}

#productos {
    background-color:rgba(5, 7, 12, 0.75) ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#productos .imgp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem ;
    width: 30%;
}

#productos div img {
    width: 70%;
}

#productos .textp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 1rem;
}

.textp {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2.5rem;
    font-style: normal;
}

#porque {
    background-color:rgba(5, 7, 12, 0.75) ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#porque .textpq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-bottom: 7.5rem;
    margin-top: 7.5rem;


}

.textpq{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2.4rem;
    font-style: normal;

}

#iniciocontacto {
    background-color:rgba(5, 7, 12, 0.75) ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 7rem;
    margin-top: 1rem;
    
}

#iniciocontacto .textc 
{
    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    width: 50%;
}

.textc{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2.5rem;
    font-style: normal;

}

#nosotros1 {
    background-color:rgba(5, 7, 12, 0.75) ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.h3iniciocontacto{
    margin-top: 1.5rem;
}

#nosotros1 .imgp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    padding-right: 18rem;
    width: 35%;
    

}

.nosotrosparrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    font-size: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bodyproducto {
    background-color: #3b3a3a;

}

.bodytienda {
    background-color: #3b3a3a;
}

.bodyinicio {
    background-color: #3b3a3a;
}

.bodynosotros {
    background-color: #3b3a3a; 
}

.bodycontacto {
    background-color: #3b3a3a;
}

.img{
    max-width: 100%;
}

.imgp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    width: 50%;
}

.tiendah2{
    padding-bottom: 5rem;
}


.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.20)
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-producto{
    padding: 2.5rem 3rem 2rem 2rem;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.price {
    font-size: 2rem;
    font-weight: 900;
    padding-left: 5rem;
}

.info-producto button{
    border: none;
    background-color: none;
    background-color: rgb(252, 211, 134);
    color: #000000;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5%;
    width: 20rem;
    height: 5rem;
    
    
}

.grid-seccion1{
    grid-area: mapa1;
    justify-content: center;
    align-items: center;

}

.grid-seccion2{
    grid-area: mapa2;
}

.grid-seccion3{
    grid-area: mapa3;
    justify-content: center;
    align-items: center;

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10rem 10rem 10rem;
    grid-template-areas:
    "mapa1 mapa2 mapa3";
    padding-bottom: 10rem;
    
}


.ptienda{
    display: flex;
    flex-direction: column;
    align-items: row;
    justify-content: center;
    margin-left: 5.3rem;
}


.ptienda2{
    display: flex;
    flex-direction: column;
    align-items: row;
    justify-content: center;
    margin-left: 9rem;
}


.ptienda3{
    display: flex;
    flex-direction: column;
    align-items: row;
    justify-content: center;
    margin-left: 11rem;
}


#mapa1{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    height: 20rem;
    margin-left: 5.3rem;

}

#mapa2{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    height: 20rem;
    margin-left: 9rem;

}

#mapa3{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    height: 20rem;
    margin-left: 11rem;   
}

#fototienda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    max-height: 70rem;
    padding-left: 15rem;



}    

@media screen and (min-width: 320px) and (max-width: 767px) { 
    
    body{
        max-width: 100%;
        max-height: 100%;
        background-color: #000000;
        font-size: 1rem;
    }
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 2rem;
    }
    ul li{
        font-size: 1rem;
    }
    li{
        font-size: 1rem;
    }
    a{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }
    header{
        font-size: 0.5rem;
    }
    nav{
        font-size: 2rem;
        max-height: 10rem; max-width: 30rem;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    ul li a{
        font-size: 1rem;
    }
    .svgfb{
        width: 10%;
        height: 30%;
    }
    .svgig{
        width: 10%;
        height: 30%;
    }
    .bodyinicio{
        font-size: 1rem;
        
    }
.logo{
    height: 2.5rem;
    width: 2.5rem;
}
.img{
    width: 20rem;
    height: 25rem;
    padding: 1px 1px 1px 1px;
}


#fondo1 {
    background-image: linear-gradient(rgba(43, 43, 44, 0.75), rgba(43, 43, 44, 0.75)),
    url(../assets/fondo1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 15rem;
    background-attachment: fixed;
    background-size: cover;
}
#nosotros{
    background-color:rgba(5, 7, 12, 0.75) ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


#nosotros .img{
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 15rem;
    height: 15rem;
    padding-left: 0.5rem;
    padding-bottom: 10rem;
    padding-top: 3.5rem;

}

#nosotros div img {
    width: 70%;
    
}

#nosotros .text{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: 50%;
}

.text{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.0rem;
    font-style: normal;
}
#productos {
    background-color:rgba(5, 7, 12, 0.75) ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#productos .imgp{
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 15rem;
    height: 15rem;
    padding-left: 0.5rem;
    padding-bottom: 10rem;
    padding-top: 3.5rem;
}

#productos div img {
    width: 70%;
}

#productos .textp{
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 15rem;
    height: 15rem;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
    padding-top: 2.5rem;
}

.textp {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2.5rem;
    font-style: normal;
}





}


@media screen and (min-width: 768px) and (max-width: 1023px) { 

    .nosotrosparrafo {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        width: 60%;
        font-size: 2rem;
    
}

}

@media screen and (min-width: 1024px) {
    
    .nosotrosparrafo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        font-size: 2rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    
}

    }


